
            <h2>User info</h2>
            <table class="table">
              <tbody>
                <tr></tr>
                <tr>
                  <td>name</td>
                  <td><%=user.name%></td>
                </tr>
                <tr>
                  <td>introduction</td>
                  <td><%=user.introduction%></td>
                </tr>
              </tbody>
            </table>