<%= render 'userinfo',user: @user %>
<%= render 'new', book: @book %>
<h1></h1>
<% @books.each do |book| %>

  <p>タイトル</p>
  <span>
    <%=link_to book.title, book_path(book.id) %>
  </span>

  <p>画像</p>
  <%= image_tag book.image, size: "200x200" %>
<% end %>