<!DOCTYPE html>
<body>
  <header>
    <nav class="navbar navbar-expend-lg navbar-dark bg-dark">
      <div class="container">
      <div class="row">
        <a class="navbar-brand">
          <span>Bookers</span>
        </a>
        <span class="navbar-toggler-icon"> </span>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li>
              <a class="nav-link text-light">
                <i class="fas fa-home" aria-hidden="true">
            </i>
                 Home
              </a>
            </li>
            <li>
              <a class="nav-link text-light">
                <i class="fas fa-link" aria-hidden="true">
                </i>
                Sign up
              </a>
            </li>
            <li>
              <a class="nav-link text-light">
                <i class="fas fa-sign-in-alt" aria-hidden="true">
                </i>
                Log in
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <p id="notice"></p>
    <div class="container">
      <div class="row">
        <h1 class="px-3 mx-auto">
          Welcome to
          <i class="fas fa-book" aria-hidden-"true">
          </i>
          <strong>Bookers</strong>
          !
          </h1>
      </div>
    </div>
  </main>
<footer>
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <p>Copyright Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>