            <h2>User info</h2>
             
             <img src="https://bookers-level2.herokuapp.com/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBd21SQlE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--c77cafcd418236748f2447083239421c62bafeee/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVdscGFRPT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--4a929dbc7794f3c4610ba9ba5402762ad9cd1a14/default-image.jpg">
            <table class="table">
              <tbody>
                <tr></tr>
                <tr>
                  <td>name</td>
                  <td><%=user.name%></td>
                </tr>
                <tr>
                  <td>introduction</td>
                  <td><%=user.introduction%></td>
                </tr>
              </tbody>
            </table>
            <%= link_to edit_user_path(user.id) do %>
            <div class="row">

  　　　　　　　　　<i class="fa-solid fa-user-gear"></i>
　　　　　　</div>
　　　　　　<% end %>

